.pagination
	position absolute
	top 0
	left 33px
	bottom 0
	display flex
	flex-direction column
	height 100%
	align-items center
	justify-content center
	
	&__item
		margin-bottom 8px
		display block
		width 14px
		height 14px
		cursor pointer
		border 1px solid colorMain
		
		&_active
			background-color colorMain
