.title-block
	display block
	text-align center
	background-color colorMain
	clearfix()

	.title
		display inline-block
		vertical-align top
		font-family fontSecondary
		font-size 36px
		font-weight 700
		line-height 3
		text-align center
		text-transform uppercase
		color colorSecond

		+below(xl)
			line-height 2
		+below(l)
			line-height 1.7
