mixin sort()
	+b.UL.sort&attributes(attributes)
		+e.item 
			+e.A.link_active(href="#") All
		+e.item 
			+e.A.link(href="#") Web
		+e.item 
			+e.A.link(href="#") App
		+e.item 
			+e.A.link(href="#") Other
