include /../node_modules/bemto.jade/bemto
include /../node_modules/jade-injected/jade-injected
include ../page/page
include ../scripts/scripts
include ../footer/footer
include ../container/container
include ../nav-top/nav-top

doctype html
html(lang='ru')
	include ../head/head
	+page
		+container
			+nav-top
			block content
			+footer

			//- 'https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js',
			//- 'owl.carousel.min.js', 
			//- 'https://cdn.jsdelivr.net/jquery.formstyler/1.7.4/jquery.formstyler.min.js',
			//- 'lightbox.min.js',
			//- 'jquery.colorbox-min.js', 
			+scripts([
			'app.min.js'])
