.team
	display block
	font-size 0

	&__item
		position relative
		display inline-block
		width 364px
		height 270px
		white-space normal
		background-position 50% 50%
		background-size cover

		// +below(xl)
		// 	width 300px
		// 	height 200px
		// +below(l)
		// 	width 230px
		// 	height 170px
		// +below(m)
		// 	width 33%
		// +below(xs)
		// 	width 50%

	&__avatar
		position absolute
		width 100%
		height 100%

	.more
		height auto
		width auto
