.more
	position absolute
	z-index 99
	top 0
	right 0
	left 0
	bottom 0
	text-align center
	background-color rgba(#5e5e5e,.97)
	opacity 0
	transition all .25s

	&:hover
		opacity 1
		box-shadow 0 0 29px rgba(0, 0, 0, .75)
		// transition all .5s

	&:before
		display inline-block
		height 100%
		vertical-align middle
		content ''

	&__inner
		padding-x(33px)
		display inline-block
		vertical-align middle
		color colorSecond

		+below(l)
			padding-x(20px)

	&__name
		font-size 18px
		font-weight 700

		+below(l)
			font-size 15px

	&__disc
		position relative
		margin-bottom 40px
		font-size 15px

		&:before
			position absolute
			left 50%
			bottom -16px
			margin-left -25px
			width 50px
			height 2px
			content ''
			background-color colorSecond

		+below(l)
			font-size 13px

	.social__link
		font-size 16px
		color inherit

		&:hover
			color inherit

		+below(l)
			font-size 14px

	.social__item
		margin-right 26px

		&:last-child
			margin-right 0

		+below(l)
			margin-right 15px
