//FONT
fontSecondary = 'Old Standard TT', serif
fontMain = 'Raleway', sans-serif

//COLOR
colorMain = #222
colorSecond = #fff
colorGrey = #7b7b7b
colorBg = #f1f1f1

//RUPTURE
rupture.scale = 0 400px 600px 800px 1024px 1280px 1480px
rupture.scale-names = 'xs' 'sm' 'm' 'l' 'xl' 'shd' 'hd'
rupture.anti-overlap = false
rupture.base-font-size = 16px
rupture.enable-em-breakpoints = false

// shd < 1480px
// xl < 1280px
// l < 1024px
// m < 800px
// sm < 600px
// xs < 400px
