mixin main-nav()
	+b.UL.main-nav&attributes(attributes)
		+e.item
			+e.A.link(href="studio.html") STUDIO
		+e.item
			+e.A.link(href="works.html") WORKS
		+e.item
			+e.A.link(href="products.html") products
		+e.item
			+e.A.link(href="journal.html") JOURNAL
		+e.item
			+e.A.link(href="404.html") Contact

		.main-nav__close &#735;
