extends /blocks/layout-default/layout-default
include /blocks/journal-post/journal-post

block head
	- var pageTitle = 'Agenzia | The Talk of Manchester Awards - 4 Reasons';

block content
	+journal-post
