mixin logo()
	+b.A.logo&attributes(attributes)(href="/")
		+e.img(src="assets/images/logo.png" alt="Agenzia - Modern Portfolio Template" )
		+e.DIV.inner
			+e.text
				| Agenzia
			+e.disc
				| Modern Portfolio Template
