.logo
	display block
	float left
	color colorMain

	+below(l)
		float none

	&__img
		width 49px
		height 48px

	&__inner
		display inline-block
		vertical-align top

	&__text
		margin-bottom 3px
		font-family fontSecondary
		font-size 40px
		font-weight 700

	&__disc
		font-size 13px
		font-style italic
		line-height 14px
		color colorGrey
