.journal
	font-size 0

	&__btn
		padding-y(25px)
		text-align center
		background-color #1b1b1b

		.btn
			color colorSecond

			&:hover
				color colorMain
				background-color colorSecond
				border-color colorSecond
