.error-404
	text-align center
	
	&__inner
		padding-y(150px)
		max-width 740px
		margin 0 auto
		
		+below(shd)
			padding-y(50px)
		+below(l)
			padding-y(30px)
		+below(xs)
			padding-top 0
			padding-bottom 15px
	
	&__number
		font-size 300px
		text-transform uppercase
		margin-bottom 92px
		
		+below(l)
			font-size 150px
			margin-bottom 30px
		
	&__text
		font-size 44px
		margin-bottom 72px
		
		+below(l)
			font-size 30px
			margin-bottom 30px
		
	&__come-back
		i
			margin-right 15px
