include ../pagination/pagination
include ../btn/btn

mixin slider()
	+b.slider&attributes(attributes)
		+e.list.owl-carousel
			+e.item_active(style="background-image: url(assets/images/slide-1.jpg)")
				+e.content
					+e.H2.title Hello WE ArE AGENZIA
					+e.H2.title_bold How can I help you?
					+e.disc 
						| perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque voluptatem sequi nesciunt. <b>Neque porro</b> quisquam
					+btn.slider__btn Get in touch
			+e.item(style="background-image: url(assets/images/slide-2.jpg)")
				+e.content
					+e.H2.title Hello WE ArE AGENZIA
					+e.H2.title_bold How can I help you?
					+e.disc 
						| perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque voluptatem sequi nesciunt. <b>Neque porro</b> quisquam
					+btn.slider__btn Get in touch

			+e.item(style="background-image: url(assets/images/slide-3.jpg)")
				+e.content
					+e.H2.title Hello WE ArE AGENZIA
					+e.H2.title_bold How can I help you?
					+e.disc 
						| perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque voluptatem sequi nesciunt. <b>Neque porro</b> quisquam
					+btn.slider__btn Get in touch

			+e.item(style="background-image: url(assets/images/slide-4.jpg)")
				+e.content
					+e.H2.title Hello WE ArE AGENZIA
					+e.H2.title_bold How can I help you?
					+e.disc 
						| perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque voluptatem sequi nesciunt. <b>Neque porro</b> quisquam
					+btn.slider__btn Get in touch

			+e.item(style="background-image: url(assets/images/slide-5.jpg)")
				+e.content
					+e.H2.title Hello WE ArE AGENZIA
					+e.H2.title_bold How can I help you?
					+e.disc 
						| perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque voluptatem sequi nesciunt. <b>Neque porro</b> quisquam
					+btn.slider__btn Get in touch





