.product-block

	.title-block
		margin-bottom 72px

		+below(xl)
			margin-bottom 30px

	.important-info
		margin-bottom 50px

		+below(xl)
			margin-bottom 20px
			margin-x(15px)

	.new-product
		margin-bottom 93px

		+below(xl)
			margin-bottom 50px
			margin-x(15px)
		+below(l)
			padding 20px

	.products
		margin-bottom 52px

		+below(xl)
			margin-bottom 0

	&__btn
		text-align center
		margin-bottom 66px

		+below(xl)
			margin-bottom 33px
