.title-page
	font-size 64px
	color colorSecond
	background-color #000
	padding-top 126px
	padding-bottom 112px
	font-weight 300
	text-align center

	+below(shd)
		padding-top 50px
		padding-bottom 40px
	+below(xl)
		padding-top 27px
		padding-bottom 19px
		font-size 43px

	&_bold
		font-weight 700
	
	&__row
		max-width 700px
		margin-x(auto)
